/*----- START button -----*/
.mp-btn {
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
}

.mp-btn-small {
  height: 62.3px;
}

button:hover, button:focus {
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
}
/*----- END button -----*/
