.mp-btn,
input[type="button"] {
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2) !important;
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
  display: inline-block;
  font-weight: bold !important;
  color: #011a27 !important;
  text-align: center;
}

.mp-btn:hover,
.entry-content a:hover: {
  color: #011a27 !important;
}

.mp-btn-small {
  height: 62.3px;
  width: 194px;
  line-height: 62.3px;
}

.mp-btn-small-en {
  height: 62.3px;
  width: 234px;
  line-height: 62.3px;
}

.mp-btn-big {
  width: 260px;
  height: 82px;
}

button:hover, button:focus {
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
}

button {
  padding: 0px !important;
}

button h6 {
  margin-bottom: 0px;
}

a.mp-btn h6 {
  line-height: 62.3px;
}

a.shortcode.button {
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8) !important;
  line-height: 62.3px !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 16px !important;
}

.mp-btn:active {
  background-image: none;
  border: solid 2px #011a27;
}

.mp-btn-reverse:active {
  background-image: none;
  background-color: transparent;
  border: solid 2px #ffffff;
  color: #ffffff !important;
}

@media (max-width:991px) {
  .mp-btn-big {
    width: 219px;
    height: 69.7px;
  }

  .mp-btn-small {
    width: 157.1px;
    height: 50px;
    line-height: 50px;
  }

  a.shortcode.button {
    line-height: 50px !important;
  }

  .mp-btn-small-en {
    width: 190.8px;
    height: 50px;
    line-height: 50px;
  }

  .mp-btn-small h6, .mp-btn-small-en h6 {
    font-size: 18px;
  }

  a.mp-btn h6 {
    line-height: 50px;
  }
}

@media (max-width:576px) {
  .mp-btn-big {
    width: 126.9px;
    height: 40.4px;
  }

  .mp-btn-small {
    width: 109.2px;
    height: 35px;
    line-height: 35px;
    border-radius: 9px;
  }

  a.shortcode.button {
    line-height: 35px !important;
    border-radius: 9px !important;
  }

  a.shortcode.button {
    line-height: 35px;
  }

  .mp-btn-small-en {
    width: 139.2px;
    height: 35px;
    line-height: 35px;
    border-radius: 9px;
  }

  .mp-btn-small h6, .mp-btn-small-en h6 {
    font-size: 12px;
  }

  a.mp-btn h6 {
    line-height: 35px;
  }
}
