.wpcf7 {
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 176px;
  padding-bottom: 336px;
}

.contact-row {
  display: flex;
  margin-bottom: 43px;
}

.contact-row h5 {
  line-height: 1.15em;
  color: #011a27;
}

.contact-row .column-right {
  padding-left: 83px;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"] {
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  border: solid 2px #011a27 !important;
  background-color: #f5f5f5 !important;
  margin-top: 16px;
}

.wpcf7-form input[type="submit"],
.wpcf7-form input[type="submit"]:hover {
  height: 62.4px;
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  background-color: #011a27;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

span.wpcf7-list-item {
  margin-top: 16px !important;
}

input[type="checkbox"] {
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  border: solid 2px #011a27 !important;
  background-color: #f5f5f5 !important;
  width: 20px;
  height: 20px;
}
