.footer-sidebar .widget a {
  font-size: 16px;
}

.footer-sidebar .widget-contact {
  color: #ffaa00 !important;
  line-height: 1.23em;
  text-align: center;
}

.footer-sidebar .widget-contact button {
  margin-top: 40px;
}

.widget_nav_menu li::before {
  position: absolute;
}

#custom_html-6, #custom_html-7, #custom_html-8 {
  display: none;
}

.footer-sidebar .col-lg-4:nth-child(4) {
  display: none;
}

@media (max-width:991px) {
  .footer-sidebar .col-md-12 {
    text-align: center;
  }

  .footer-sidebar .col-lg-4:nth-child(2) {
    padding-left: 9%;
    padding-top: 71px;
  }

  .footer-sidebar .col-lg-4:nth-child(3) {
    padding-top: 71px;
    padding-left: 24%;
  }

  .footer-sidebar .col-lg-4:nth-child(4) {
    display: block;
    padding-left: 24%;
  }

  #custom_html-6 {
    display: block;
    padding-top: 98px;
  }

  #custom_html-7 {
    display: block;
  }

  .widget-button {
    display: none;
  }

  .footer-sidebar .col-lg-4:nth-child(4) {
    padding-left: 24%;
    padding-top: 71px;
  }
}

@media (max-width:576px) {
  .footer-sidebar .col-lg-4:nth-child(2) {
    padding-left: 14%;
  }

  .footer-sidebar .col-lg-4:nth-child(3) {
    padding-left: 16%;
  }

  .footer-sidebar .col-lg-4:nth-child(4) {
    padding-left: 16%;
  }

  #custom_html-6 {
    padding-top: 60px;
  }
}
