/* START navigation bar */

.home nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width:991px) {
 .container {
   max-width:599px !important;
 }

 .container .custom-logo-link-url a img {
   width: 82.81px;
   height: 90px;
 }
}

@media (max-width:576px) {
  .navbar-expand-lg > .container {
    margin-top: 68.7px !important;
    margin-bottom: 30.3px !important;
  }

  .container .custom-logo-link-url a img {
    width: 50px;
    height: 54.25px;
  }

  .container .custom-logo-link-url {
    margin-left: 41px !important;
  }

  .navbar-toggler {
    margin-right: 41px !important;
  }
}

 @media (min-width:1200px) {
  .container {
    max-width:1370px !important;
   }
 }
/* END navigation bar */

/* START banner */
.home-banner {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.home-banner .action {
  text-align: center;
  margin-top: 111px;
}

.home-banner .text .text1,
.home-banner .text .text2,
.home-banner .text .text3 {
  display: none;
}

.home-banner .text {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.29;
  color: #ffaa00;
  margin-top: 59px;
  padding-left: 22%;
  padding-right: 22%;
}

@media (max-width:1200px) {
  .home-banner .text {
    font-size: 42px !important;
    line-height: 2.14;
    color: #ffaa00;
    margin-top: 163px;
    padding-left: 9%;
    padding-right: 9%;
  }

  .home-banner .text h1 {
    font-size: 42px !important;
    font-weight: bold;
    color: #ffaa00;
  }
}

@media (max-width: 576px) {
  .home-banner {
    padding-left: 7%;
    padding-right: 7%;
  }

  .home-banner .text {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 60px;
  }

  .home-banner .text h1 {
    font-size: 22px !important;
    color: #ffaa00;
  }

  .home-banner .action {
    margin-top: 55px;
  }

  #home-arrow {
    position: relative;
    left: -204px;
  }
}
/* END banner */

@media (min-width:768px) {
  #home-arrow {
    position: relative;
    left: -605px;
  }
}

@media (min-width:1200px) {
  #home-arrow {
    position: relative;
    left: -371px;
  }
}

/* START arrow down */

.home-arrow-down {
  text-align: center;
  margin-top: 90px;
}

.home-arrow-down h1 {
  font-size: 98px;
  color: #ffaa00;
  line-height: 0.92;
  margin-top: 68px;
}

.home-arrow-down h3 {
  color: #ffffff;
  line-height: 0.89;
  margin-bottom: 218px;
}

@media (max-width:991px) {
  .home-arrow-down h1 {
    font-size: 42px !important;
  }

  .home-arrow-down h3 {
    font-size: 24px;
    margin-bottom: 169px;
  }
}

@media (max-width:576px) {
  .home-arrow-down {
    margin-top: 36px;
  }

  .home-arrow-down img {
    width: 25px;
    height: 41px;
  }

  .home-arrow-down h1 {
    margin-top: 56px;
    font-size: 25px !important;
  }

  .home-arrow-down h3 {
    font-size: 20px;
    margin-bottom: 87px;
    line-height: 1.25em;
  }
}

/* END arrow down */

/* START section services */
.section-service {
  height: 1500px;
}

@media (max-width:1200px) {
  .section-service {
    height: auto;
  }
}

@media (max-width:991px) {
  .section-service {
    height: auto;
  }

  .section-service .col-md-12 {
    margin-top: 42px;
  }
}

@media (max-width:576px) {
  .section-service .col-md-12 {
    margin-top: 30px;
  }

  .section-service .col-md-12 img {
    width: 90%;
  }
}
/* END section services */

/* START section know more */
.section-know-more .rec {
  background-color: #ffaa00;
  height: 217px;
  text-align: center;
  padding: 30px;
}

.section-know-more .rec button {
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
  margin-top: 16px;
}

.section-know-more .rec h4 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

@media (max-width:991px) {
  .section-know-more {
    margin-top: 458px;
  }

  .section-know-more .rec h3 {
    font-size: 30px;
  }

  .section-know-more .rec button {
    width: 219px;
    height: 69.7px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
  }

  .section-know-more .rec h4 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .section-know-more {
    margin-top: 191px;
  }

  .section-know-more .rec {
    height: 154px;
  }

  .section-know-more .rec h3 {
    font-size: 25px;
  }

  .section-know-more .rec button {
    width: 126.9px;
    height: 40.4px;
    border-radius: 9px;
  }

  .section-know-more .rec h4 {
    font-size: 18px;
  }
}
/* END section know more */
