/* START navigation bar */
.home nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (min-width:768px) {
 .container {
   max-width:599px !important;
 }
}

 @media (min-width:1200px) {
  .container {
    max-width:1370px !important;
   }
 }
/* END navigation bar */

@media (min-width:768px) {
  #home-arrow {
    position: relative;
    left: -605px;
  }
}

@media (min-width:1200px) {
  #home-arrow {
    position: relative;
    left: -371px;
  }
}

.home-banner {
  position: absolute;
  width: 100%;
  z-index: 100;
}

@media (min-width:768px) {
  .home-banner .text {
    font-size: 42px !important;
    font-weight: bold;
    line-height: 2.14;
    color: #ffaa00;
    margin-left: 14%;
    margin-top: 163px;
  }

  .home-banner .text h1 {
    font-size: 42px !important;
    font-weight: bold;
    color: #ffaa00;
  }
}

@media (min-width:1200px) {
  .home-banner .text {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.29;
    color: #ffaa00;
    margin-left: 28%;
    margin-top: 59px;
  }
}


.home-banner .action {
  text-align: center;
  margin-top: 111px;
}

.home-banner .text .text1,
.home-banner .text .text2,
.home-banner .text .text3 {
  display: none;
}

.home-arrow-down {
  text-align: center;
  margin-top: 90px;
}

.home-arrow-down h1 {
  font-size: 98px;
  color: #ffaa00;
  line-height: 0.92;
  margin-top: 68px;
}

.home-arrow-down h3 {
  color: #ffffff;
  line-height: 0.89;
  margin-bottom: 218px;
}
