.insights-post-list figure,
.insights-post-list .post {
  margin: 0px !important;
}

.insights-post-list .post {
  border-bottom: solid 3px #011a27;
  padding-right: 14%;
}

.insights-post-list .post .post-content .post-title a {
  font-size: 45px;
  font-weight:bold;
  line-height: 1.33em;
}
