.insights-post-list figure,
.insights-post-list .post {
  margin: 0px !important;
}

.insights-post-list .post {
  border-bottom: solid 3px #011a27;
}

.insights-post-list .post .post-content .post-title a {
  font-size: 34px;
  font-weight:bold;
  line-height: 1.33em;
}

.insights-post-list .post .post-content {
  padding-right: 7%;
}

@media (max-width:991px) {
  .insights-post-list .post .post-content .post-title a {
    font-size: 30px;
  }
}

@media (max-width:575px) {
  .builder-posts-wrap.list-thumb-image .post-image {
    display: none;
  }

  .insights-post-list .post .post-content {
    padding-left: 7%;
  }

  .insights-post-list .post .post-content .post-title a {
    font-size: 20px;
  }
}
