.insight-post {
  padding-bottom: 141px;
}

.insight-post-breadcrumb,
.insight-post .bottom {
  padding-left: 14%;
}

.insight-post-breadcrumb .col-lg-3 {
  display: flex;
}

.insight-post-breadcrumb .col-lg-3 img {
  height: 30px;
}

.insight-post-breadcrumb .col-lg-3 h6 {
  font-size: 20px;
  font-weight: bold;
  color: #011a27;
  margin-top:5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.insight-post-breadcrumb .col-lg-9 {
  text-align: right;
  padding-right: 8%;
}

.insight-post .insight-post-content {
  padding-top: 43px;
  padding-left: 14%;
  margin-left: 0px;
  margin-right: 0px;
}

.insight-post-content figure {
  display: none !important;
}

.blog .standard-view .post .entry-title a {
  font-size: 53px;
  font-family: Montserrat-Bold;
  line-height: 1.29em;
  color: #011a27;
}

.blog .standard-view .post .entry-title a span {
  color: #ffaa00;
}

.blog .standard-view.blog-single .entry-content {
  border-bottom: none;
}

.blog .standard-view.blog-single .entry-content p {
  font-size: 34px;
}

@media (max-width:991px) {
  .insight-post .insight-post-content {
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .quotation-mark-right, .insight-post .bottom {
    display: none;
  }

  .blog .standard-view .post .entry-title a {
    font-size: 53px;
  }

  .blog .standard-view.blog-single .entry-content p {
    font-size: 25px;
  }
}

@media (max-width:576px) {
  .insight-post-breadcrumb .col-lg-3 img {
    width: 10px;
    height: 16px;
  }
  .insight-post-breadcrumb .col-lg-3 h6 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .insight-post-content {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .blog .standard-view .post .entry-title a {
    font-size: 20px;
  }

  .blog .standard-view.blog-single .entry-content p {
    font-size: 16px;
  }
}
