.services-contactus a {
  width: 194.8px;
  height: 62px;
  border-radius: 16px !important;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
  border: 0px !important;
}

.services-contactus a span {
  font-weight: 600;
}

.services-contactus .ui.builder_button {
  line-height: 38px;
}

/* START how we work */
.services-contactus .module-buttons .module-buttons-item a {
    width: 194.8px;
    height: 62px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
}

@media (max-width:991px) {
  .service-content-left {
    width: 116px !important;
  }

  .service-content-right {
    width: 72% !important;
  }

  .service-content-right .tb-column-inner .module:nth-child(2) {
    margin-top: 40px !important;
  }
}

@media (max-width:576px) {
  .service-content-left {
    width: 62px !important;
  }

  .service-content-right {
    width: 78% !important;
  }

  .service-content-right .tb-column-inner .module .image-wrap {
    display: none;
  }

  .service-content-right .tb-column-inner .module:nth-child(1) {
    margin-top: 0px;
  }

  .service-content-right .tb-column-inner .module:nth-child(2) {
    margin-top: 36px !important;
  }

  .services-contactus .module-buttons .module-buttons-item a {
      width: 111px;
      height: 35px;
      border-radius: 9px !important;
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
      background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
  }

  .services-contactus .ui.builder_button {
    line-height: 20px;
  }
}

/* END how we work */

/*------ tabs ----------*/

.ui-widget.ui-widget-content,
.ui-widget-content {
  border: 0px!important;
}

.ui-tabs {
  padding: 0px;
}

.ui.module-tab.minimal .tab-nav {
  text-align: center;
}

.ui.module-tab.rounded .tab-nav li {
  float: none;
  display: inline-block;
  background-color: transparent;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0px !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active span {
  color: #ffaa00 !important;
  border-bottom: solid 3px #ffaa00;
}

.ui.module-tab.rounded .tab-nav li:nth-child(2) {
  margin-left: 195px;
  margin-right: 195px;
}

.text {
  padding-left: 14%;
  padding-right: 14%;
}

.text p.title {
  font-size: 238px;
  color: #d9dddf;
  margin-top: 145px;
  margin-bottom: 60px !important;
  line-height: 0.69;
}

.text p {
  font-size: 30px;
  font-weight: bold !important;
  line-height: 1.33;
}

@media (max-width:991px) {
  .text p.title {
    font-size: 110px;
    margin-top: 44px;
  }

  .text p {
    font-size: 24px;
  }
}

@media (max-width:576px) {
  .text {
    padding-left: 10%;
    padding-right: 10%;
  }

  .text p.title {
    font-size: 69px;
    line-height: 0.94em;
    margin-bottom: 24px !important;
    color: #d9dddf !important;
    margin-top: 0px;
    padding-top: 44px;
  }

  .text p {
    font-size: 16px;
  }
}

.tab1-text {
  padding-bottom: 170px;
}

.tab2-text p.title {
  color: #6d7c83 !important;
}

.single-item {
  margin-left: 8%;
  margin-right: 8%;
}

.slick-prev {
  background: url("http://localhost/wordpress/wp-content/themes/honeypress-child/images/raggruppa-702.png") no-repeat scroll 0 0 transparent !important;
  height: 158px!important;
  width: 327px!important;
  left: 0px;
  z-index: 10;
}

.slick-prev::before {
  display: none;
}

.slick-next {
  background: url("http://localhost/wordpress/wp-content/themes/honeypress-child/images/raggruppa-700.png") no-repeat scroll 0 0 transparent !important;
  height: 158px!important;
  width: 327px!important;
  right: 0px;
  z-index: 10;
}

.slick-next::before {
  display: none;
}

.slick-slide img {
  height: 158px;
  width: 327px;
  object-fit: contain;
}

/* START tab 2 - business cases */
.tab2-text {
  padding-bottom: 120px;
}

.image-grid {
  padding-left: 7%;
  padding-right: 7%;
}

.grid-row {
  margin-top: 24.5px;
}

.action {
  text-align: center;
  margin-top: 87px;
  margin-bottom: 92px;
}

@media (max-width:991px) {
  .image-grid img {
    width: 233px;
    height: 233px;
  }

  .image-grid {
    padding-left: 3%;
    padding-right: 3%;
  }

  .image-grid .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .action h6 {
    font-size: 18px;
  }
}

@media (max-width:576px) {
  .tab2-text {
    padding-bottom: 6px;
  }

  .image-grid .row {
    margin-right: 0px;
  }

  .image-grid img {
    width: 128px;
    height: 128px;
  }

  .grid-row {
    margin-top: 7px;
  }

  .action {
    margin-top: 31px;
    margin-bottom: 0px;
    padding-bottom: 35.7px;
  }

  .action h6 {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
/* END tab 2 - business cases */

/* START tab 3 - solutions */
.tab-solutions .section-service {
  margin-top: 280px;
  margin-bottom: 307px;
  height: 947px;
}

@media (max-width:991px) {
  .tab-solutions .section-service {
    margin-top: 169px;
    height: auto;
  }
}

@media (max-width:576px) {
  .tab-solutions .text .title {
    margin-top: 0px;
  }

  .tab-solutions .section-service {
    margin-top: 46px;
    margin-bottom: 0px;
    padding-bottom: 116px;
  }

  .tab-solutions .section-service img {
    width: 90%;
  }
}
/* END tab 3 - solutions */

/* START know more */

.module_column .module-buttons.rounded a {
  width: 260px;
  height: 82.8px;
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #90adc6, #e5e7ea 62%, #f6f7f8, #f8f8f8);
}

.ui.builder_button {
  border: 0px;
}

@media (max-width:991px) {
  .module_column .module-buttons.rounded a {
    width: 219px;
    height: 69.7px;
  }
}

@media (max-width:576px) {
  .module_column .module-buttons.rounded a {
    width: auto;
    height: 40.4px;
    border-radius: 9px;
  }

  .module_column .module-buttons.rounded a span {
    line-height: 30px;
  }
}

/* END know more */

@media (max-width:991px) {
  #bigArrow-row, .arrow-row {
    display: none;
  }

  .service-content-right .module-image.image-top .image-content {
    text-align: left !important;
    margin-top: 0px !important;
  }

  .service-content-right .module-image.image-top .image-content .image-title {
    height: auto;
  }

  .ui.module-tab.rounded .tab-nav li:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .tab-content .tb_text_wrap {
    text-align: center;
  }

  /* tab 1 clients */
  .tab1-text {
    padding-bottom: 68px;
  }

  .single-item {
    margin-left: 0px;
    margin-right: 0px;
  }

  .slick-list {
    margin-left: 28% !important;
    margin-right: 28% !important;
    z-index: 10;
  }

  .slick-prev, .slick-next {
    z-index: 0;
  }

  .tab2-text p.title {
    line-height: 1em;
  }

}
