.ui.module-accordion {
  border-bottom: solid 3px #011a27;
  border-left: 0px;
  border-right: 0px;
}

.ui-icon-triangle-1-s,
.ui-icon-triangle-1-e {
  display: none!important;
}

.accordion-title img {
  width: 49px !important;
  height: 31px !important;
}

.accordion-title {
  display: flex !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.ui.module-accordion .accordion-title a {
  padding: 0px;
}

.tb_default_color.module-accordion .accordion-title.ui-state-default:hover {
  background-color: #ffaa00 !important;
}

.tb_default_color.module-accordion .accordion-title,
.tb_default_color.module-accordion .accordion-title.ui-state-default.ui-state-active:hover {
  background-color: #ffffff !important;
}

.accordion-content a {
  margin-top: 32px;
}

@media (max-width:991px) {
  .ui-accordion .ui-accordion-heade {
    padding-top: 30.3px !important;
    padding-bottom: 30.3px !important;
  }

  .accordion-title img {
    width: 32px !important;
    height: 20px !important;
  }
}

@media (max-width:576px) {
  .accordion-title img {
    width: 23px !important;
    height: 14px !important;
  }
}
